In [5]:
import pandas as pd
import pyarrow.dataset as ds

In [54]:
def show_non_50(df):
    counts_df = df.groupby('dt', observed=False).size().reset_index(name='counts')
    print(counts_df[counts_df['counts'] != 50])

In [69]:
movie_df = pd.read_parquet('~/data/movies/dailyboxoffice')
show_non_50(movie_df)

Empty DataFrame
Columns: [dt, counts]
Index: []

In [70]:
movie_df.to_parquet("/home/tom/code/movie-streamlit/data/movie.parquet")

In [67]:
dataset = ds.dataset('~/data/movie_after/dailyboxoffice', format="parquet", partitioning="hive")
after_df = dataset.to_table().to_pandas()

show_non_50(after_df)

           dt  counts
0    20240101      25
1    20240102      24
2    20240103      25
3    20240104      24
4    20240105      24
..        ...     ...
361  20241227      26
362  20241228      28
363  20241229      27
364  20241230      26
365  20241231      26

[366 rows x 2 columns]

In [59]:
after_df.columns

Index(['rankOldAndNew', 'movieCd', 'movieNm', 'openDt', 'salesAmt',
       'salesInten', 'salesChange', 'salesAcc', 'audiCnt', 'audiInten',
       'audiChange', 'audiAcc', 'scrnCnt', 'showCnt', 'rnum', 'rank', 'dt',
       'multiMovieYn', 'repNationCd'],
      dtype='object')

In [60]:
after_df

,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,rnum,rank,dt,multiMovieYn,repNationCd
0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,3,3,20240101,N,F
1,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,4,4,20240101,N,F
2,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,5,5,20240101,N,F
3,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,10,10,20240101,N,F
4,OLD,20235098,나폴레옹,2023-12-06,4056567,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,16,16,20240101,N,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,OLD,20228313,"오늘 밤, 세계에서 이 사랑이 사라진다 해도",2022-11-30,5108407,-4626907,-47.5,11964546497,659,-594,-47.4,1179372,66,78,19,19,20240215,Y,F
1100,OLD,20040725,화양연화,2000-10-20,4939863,-5671239,-53.4,1109396135,557,-675,-54.8,124048,51,54,22,22,20240215,Y,F
1101,OLD,20247074,건국전쟁,2024-02-01,449947848,-4925280,-1.1,4631515543,51116,-1033,-2.0,485406,921,2149,2,2,20240215,Y,K
1102,OLD,20231415,소풍,2024-02-07,83551051,-985886,-1.2,1881322631,9917,-105,-1.0,207299,620,1124,5,5,20240215,Y,K
1103,NEW,20234708,막걸리가 알려줄거야,2024-02-28,4761000,4761000,100.0,8152000,529,529,100.0,953,2,2,23,23,20240215,Y,K