In [5]:
import pandas as pd
import pyarrow.dataset as ds

In [23]:
movie_df = pd.read_parquet('~/data/movies/dailyboxoffice')

In [38]:
dataset = ds.dataset('~/data/movie_after/dailyboxoffice', format="parquet", partitioning="hive")
after_df = dataset.to_table().to_pandas()

In [12]:
print(len(movie_df))
print(len(after_df))

50
29

In [37]:
counts_df = movie_df.groupby('dt', observed=False).size().reset_index(name='counts')
counts_df[counts_df['counts'] != 50]

Empty DataFrame
Columns: [dt, counts]
Index: []

In [39]:
counts_df = after_df.groupby('dt', observed=False).size().reset_index(name='counts')
counts_df[counts_df['counts'] != 50]

           dt  counts
0    20240101      25
1    20240102      29
2    20240103      33
3    20240104      38
4    20240105      39
..        ...     ...
361  20241227     708
362  20241228     709
363  20241229     710
364  20241230     712
365  20241231    1426

[365 rows x 2 columns]