In [1]:
import pandas as pd

In [4]:
BP = '~/data/movies/dailyboxoffice/dt=20240101'
df1 = pd.read_parquet(f'{BP}/bc5a015df74d4899901dcc8138c932bf-0.parquet')
df2 = pd.read_parquet(f'{BP}/multiMovieYn=N')
df3 = pd.read_parquet(f'{BP}/multiMovieYn=Y')
df4 = pd.read_parquet(f'{BP}/repNationCd=F')
df5 = pd.read_parquet(f'{BP}/repNationCd=K')

In [5]:
print("df1 vs df2:", df1.equals(df2))
print("df1 vs df3:", df1.equals(df3))
print("df1 vs df4:", df1.equals(df4))
print("df1 vs df5:", df1.equals(df5))
print("df2 vs df3:", df2.equals(df3))
print("df2 vs df4:", df2.equals(df4))
print("df2 vs df5:", df2.equals(df5))
print("df3 vs df4:", df3.equals(df4))
print("df3 vs df5:", df3.equals(df5))
print("df4 vs df5:", df4.equals(df5))

df1 vs df2: False
df1 vs df3: False
df1 vs df4: False
df1 vs df5: False
df2 vs df3: False
df2 vs df4: False
df2 vs df5: False
df3 vs df4: False
df3 vs df5: False
df4 vs df5: False

In [6]:
df0 = pd.read_parquet(f'{BP}')

In [11]:
merged_df = pd.concat([df5, df1, df2, df3, df4], ignore_index=True)

In [12]:
df0_cleaned = df0.drop(columns=['multiMovieYn', 'repNationCd'])

In [13]:
merged_df.equals(df0_cleaned)

False

In [14]:
merged_df_reset = merged_df.reset_index(drop=True)
df0_cleaned_reset = df0_cleaned.reset_index(drop=True)

In [16]:
merged_df_reset.equals(df0_cleaned_reset)

False

In [17]:
df0[df0['movieNm'].str.contains('그대들', na=False)]

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
26,7,7,5,OLD,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,1.4,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,Y,NaN